.small-card-wrapper {
    position: relative;
    width: var(--pokemon-card-wrapper-width);
    transition:
        transform 250ms ease,
        box-shadow 250ms ease,
        filter 250ms ease;
}

.small-card-wrapper:hover {
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.3);
    transform: scale(1.05) translateY(-5px);
    filter: brightness(1.1);
    z-index: 5;
}

.pointer-not-allowed{
    cursor: not-allowed;
}

.small-card-header {
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    top: 0;
    z-index: 5;

    padding: calc(0.3 * var(--pokemon-card-border-radius)) calc(0.5 * var(--pokemon-card-border-radius)) 0
        var(--pokemon-card-border-radius);

    font-family: 'Boogaloo';
    color: white;
    -webkit-text-stroke: 0.8px black;

    h2,
    p {
        font-weight: normal;
        line-height: 100%;
    }

    h2 {
        font-size: var(--pokemon-card-name-size);
    }

    p {
        font-size: var(--pokemon-card-num-size);
    }
}

.pokemon-dialog-bg-type,
.pokemon-bg-type {
    position: absolute;
    height: var(--pokemon-card-type-size);
    width: var(--pokemon-card-type-size);
    left: calc(-0.25 * var(--pokemon-card-type-size));
    border-radius: 50%;
    padding: calc(0.15 * var(--pokemon-card-type-size));
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    background-size: cover;

    img {
        height: 100%;
        width: 100%;
    }
    z-index: 2;
}

.pokemon-dialog-bg-type {
    height: var(--dialog-type-size);
    width: var(--dialog-type-size);
    left: calc(-0.25 * var(--dialog-type-size));
    border-radius: 50%;
    padding: calc(0.15 * var(--dialog-type-size));
}

.bg-type-small {
    bottom: 5%;
    height: calc(0.9 * var(--pokemon-card-pokemon-size));
    width: calc(0.9 * var(--pokemon-card-pokemon-size));
}

.pokemon-dialog-bg-pokemon,
.pokemon-bg-pokemon {
    position: absolute;
    height: var(--pokemon-card-pokemon-size);
    width: var(--pokemon-card-pokemon-size);
    right: -20%;
    z-index: 3;
}

.pokemon-dialog-bg-pokemon {
    height: var(--dialog-pokemon-size);
    width: var(--dialog-pokemon-size);
    max-height: var(--dialog-pokemon-max-size);
    max-width: var(--dialog-pokemon-max-size);
}

.pokemon-dialog-bg-wrapper,
.pokemon-bg-wrapper {
    width: var(--pokemon-card-wrapper-width);
    min-width: var(--pokemon-card-wrapper-width);
    min-height: var(--pokemon-card-wrapper-height);
    overflow: hidden;
    border-top-left-radius: var(--pokemon-card-border-radius);
    border-top-right-radius: var(--pokemon-card-border-radius);
    border-left: var(--dialog-border-left);
}

.pokemon-dialog-bg-wrapper {
    width: var(--dialog-wrapper-width);
    height: var(--dialog-wrapper-height);
}

.pokemon-dialog-bg-card,
.pokemon-bg-card {
    width: var(--pokemon-card-width);
    height: var(--pokemon-card-height);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top-left-radius: var(--pokemon-card-border-radius);
    border-top-right-radius: var(--pokemon-card-border-radius);
}

.pokemon-dialog-bg-card {
    width: var(--dialog-width);
    height: var(--dialog-height);
}

.pokemon-bg-small {
    border-bottom-left-radius: var(--pokemon-card-border-radius);
    border-bottom-right-radius: var(--pokemon-card-border-radius);
    bottom: 5%;
}

.card-small-subtype-wrapper {
    position: relative;
    height: 0;
    width: var(--pokemon-card-wrapper-width);

    .pokemon-bg-subtype {
        position: absolute;
        height: calc(0.4 * var(--pokemon-card-pokemon-size));
        width: calc(0.4 * var(--pokemon-card-pokemon-size));
        left: 25%;
        top: -5px;
        transform: translateY(-100%);
        border-radius: 50%;
        padding: calc(0.15 * 0.3 * var(--pokemon-card-pokemon-size));
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
        background-size: cover;

        img {
            height: 100%;
            width: 100%;
        }
        z-index: 1;
    }
}
