dialog {
    display: none;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    margin: auto;
}

.opened {
    display: flex;
}

.opened::backdrop {
    background-color: black;
    opacity: 0.75;
    transition: all 1s ease-in-out;
}

body:has(dialog[open]) {
    overflow: hidden;
}

.dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    width: 100%;
    height: 30px;
    padding-right: var(--pokemon-card-border-radius);

    > div {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        width: var(--pokemon-card-width);
        padding-inline: var(--pokemon-card-border-radius);

        font-family: 'Boogaloo';
        color: white;
        -webkit-text-stroke: 0.8px black;
        font-size: 0.8em;

        h1,
        p {
            font-weight: normal;
            line-height: 100%;
        }
        h2 {
            font-size: 24px;
        }
        p {
            font-size: 18px;
        }
    }

    .dialog-button-close {
        background-image: url(../assets/icons/close.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 24px;
        height: 24px;
    }
}

/* #endregion pokemon-card */

/* #region particles */
.overlay-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 4;
}

.particle-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 4;
    top: 0;
    left: 0;
}

.particle {
    position: absolute;
    border-radius: 50%;
}

.particle:nth-child(1) {
    scale: 0.35;
    left: 5%;
    top: 2%;
    animation-duration: 9s;
}

.particle:nth-child(2) {
    scale: 0.25;
    left: 30%;
    top: 7%;
    animation-duration: 5s;
}

.particle:nth-child(3) {
    scale: 0.5;
    left: 60%;
    top: 2%;
    animation-duration: 7s;
}

.particle:nth-child(4) {
    scale: 0.4;
    left: 85%;
    top: 4%;
    animation-duration: 8s;
}

.particle:nth-child(5) {
    scale: 0.7;
    left: 10%;
    top: 30%;
    animation-duration: 4s;
}

.particle:nth-child(6) {
    scale: 0.4;
    left: 35%;
    top: 35%;
    animation-duration: 7s;
}

.particle:nth-child(7) {
    scale: 0.6;
    left: 55%;
    top: 30%;
    animation-duration: 11s;
}

.particle:nth-child(8) {
    scale: 0.2;
    left: 80%;
    top: 35%;
    animation-duration: 6s;
}

.particle:nth-child(9) {
    scale: 0.45;
    left: 5%;
    top: 65%;
    animation-duration: 8s;
}

.particle:nth-child(10) {
    scale: 0.65;
    left: 30%;
    top: 60%;
    animation-duration: 12s;
}

.particle:nth-child(11) {
    scale: 0.25;
    left: 55%;
    top: 60%;
    animation-duration: 6s;
}

.particle:nth-child(12) {
    scale: 0.7;
    left: 80%;
    top: 62%;
    animation-duration: 13s;
}

.particle:nth-child(13) {
    scale: 0.8;
    left: 5%;
    top: 85%;
    animation-duration: 10s;
}

.particle:nth-child(14) {
    scale: 0.5;
    left: 35%;
    top: 90%;
    animation-duration: 4s;
}

.particle:nth-child(15) {
    scale: 0.7;
    left: 60%;
    top: 87%;
    animation-duration: 5s;
}

.particle:nth-child(16) {
    scale: 0.3;
    left: 85%;
    top: 90%;
    animation-duration: 9s;
}
/* #endregion particles */
/* #endregion bg-animated  */
.dialog-like-wrapper {
    position: relative;
    height: 38px;
    background: var(--dialog-color-bg);
    border-left: var(--dialog-border-left);

    .pokemon-bg-subtype {
        position: absolute;
        height: calc(0.4 * var(--pokemon-card-pokemon-size));
        width: calc(0.4 * var(--pokemon-card-pokemon-size));
        left: 15%;
        top: 0;
        transform: translateY(-50%);
        border-radius: 50%;
        padding: calc(0.15 * 0.4 * var(--pokemon-card-pokemon-size));
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
        background-size: cover;

        img {
            height: 100%;
            width: 100%;
        }
        z-index: 1;
    }

    .button-like-wrapper {
        width: var(--pokemon-card-width);
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .button-like {
            margin-right: 5px;
            width: 24px;
            height: 24px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: 50%;
        }
    }

    .button-like-default {
        background-image: url('../assets/icons/favorite-default.svg');
    }

    .button-like-liked {
        background-image: url('../assets/icons/favorite-active.svg');
    }
}

/* #region content-slider */
.dialog-slider {
    position: relative;

    background-color: var(--dialog-color-bg);
    border-left: var(--dialog-border-left);

    width: var(--pokemon-card-wrapper-width);
    height: 150px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;

    overflow: hidden;
}

.dialog-radio-btn-wrapper input {
    z-index: 2;
    visibility: hidden;
    width: 0px;
}

.dialog-radio-btn-wrapper {
    width: calc(0.25 * var(--pokemon-card-wrapper-width));
    label {
        font-family: 'Boogaloo';
        color: white;
        -webkit-text-stroke: 0.3px black;
    }

    label:hover {
        font-weight: bold;
        cursor: pointer;
    }
}

.dialog-slider-wrapper {
    z-index: 1;
    top: 0;
    height: calc(100% * var(--number-dialog-tabs));
    width: var(--pokemon-card-width);

    position: absolute;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    transition: all 0.5s ease-in-out;
}

.dialog-slider-element {
    width: 100%;
    height: calc(100% / var(--number-dialog-tabs));
    display: flex;
    align-items: center;

    img {
        object-fit: contain;
        max-width: 100%;
        max-height: 100%;
        min-height: 80%;
    }
}

.justify-center {
    justify-content: center;
}

.dialog-radio-btn-wrapper input:checked + label {
    font-weight: bold;
}

.dialog-radio-btn-wrapper:has(input[value='one']:checked) ~ .dialog-slider-wrapper {
    transform: translateY(0);
}

.dialog-radio-btn-wrapper:has(input[value='two']:checked) ~ .dialog-slider-wrapper {
    transform: translateY(calc(-100% / var(--number-dialog-tabs)));
}

.dialog-radio-btn-wrapper:has(input[value='three']:checked) ~ .dialog-slider-wrapper {
    transform: translateY(calc(-100% * 2 / var(--number-dialog-tabs)));
}

.dialog-table {
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 14px;

    th {
        font-weight: normal;
        color: gray;
        text-align: left;
        vertical-align: top;
    }

    th,
    td {
        padding: 1px 10px;
    }
}
/* #endregion content-slider */

.dialog-evolution-chain {
    background-color: var(--dialog-color-bg);
    border-left: var(--dialog-border-left);
    min-height: 64px;
    width: 100%;
    max-width: var(--pokemon-card-wrapper-width);
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .evo-chain-img {
        height: 48px;
        width: 48px;
        padding: 3px;
    }

    .evo-arrow-img {
        height: 40px;
        width: 40px;
    }

    ul {
        list-style-type: none;

        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;

        li {
            height: 48px;
            width: 48px;
        }
    }

    button {
        cursor: inherit;
    }
}

.dialog-nav {
    background-color: var(--dialog-color-bg);
    border-left: var(--dialog-border-left);
    height: 48px;
    width: 100%;
    border-bottom-left-radius: var(--pokemon-card-border-radius);
    border-bottom-right-radius: var(--pokemon-card-border-radius);

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .dialog-button-return {
        background-image: url('../assets/icons/return.svg');
        transform: scaleX(-1);
    }

    .dialog-button-left {
        background-image: url('../assets/icons/arrow-right.svg');
        transform: scaleX(-1);
    }

    .dialog-button-right {
        background-image: url('../assets/icons/arrow-right.svg');
    }

    .dialog-button-return,
    .dialog-button-left,
    .dialog-button-right {
        width: 28px;
        height: 28px;
        background-size: contain;
        transition: all 0.3s ease;
    }

    .dialog-button-return:hover,
    .dialog-button-left:hover,
    .dialog-button-right:hover {
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 50%;;
    }
}
