/* <div class="spinner-outside">
    <div class="spinner-inside"></div>
    <div class="line-inside-left"></div>
    <div class="line-inside-right"></div>
</div> */
.spinner-animation-enable {
    animation: spin 2s linear infinite;
}

.spinner-up-scaled {
    transform: scale(2);
}

.spinner-outside,
.spinner-inside {
    background-color: #00000000;
    border: 8px solid var(--spinner-color);
    border-radius: 50%;
}

.spinner-outside {
    position: relative;
    width: var(--spinner-size-small);
    height: var(--spinner-size-small);
}

.spinner-inside {
    position: absolute;
    left: 50%;
    top: 50%;
    width: calc(var(--spinner-size-small) / 3);
    height: calc(var(--spinner-size-small) / 3);
    transform: translate(-50%, -50%);
}

.line-inside-left,
.line-inside-right {
    position: absolute;
    width: calc(var(--spinner-size-small) / 3);
    height: 0;
    border: 4px solid var(--spinner-color);
    top: 50%;
}

.line-inside-left {
    left: 0;
    transform: translate(calc(-1 * var(--spinner-size-small) / 20), -50%);
}

.line-inside-right {
    right: 0;
    transform: translate(calc(var(--spinner-size-small) / 20), -50%);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
