* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}

button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000000;
    border: none;
    text-decoration: none;
}

html {
    font-size: 16px;
}
