* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}

button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000000;
    border: none;
    text-decoration: none;
    user-select: none;
}

button:active {
    filter: brightness(0.5);
}

html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.d-none {
    display: none !important;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: lightslategray;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: lightgray;
}
