:root {
    --color-bg-shell: #0e3243;
    --color-bg-shell-accent: #154b65;
    --color-accent: #b76fc4;
    --color-font-shell: white;

    --height-header: 100px;
    --padding-block-content: 40px;

    --spinner-size: clamp(37.5px, calc((100svw - 400px) * 37.5 / 1000) + 37.5px, 75px);
    --spinner-line: clamp(4px, calc((100svw - 400px) * 4 / 1000) + 4px, 8px);
    --spinner-color: white;

    --pokemon-card-wrapper-width: clamp(150px, calc((100svw - 400px) * 150 / 1000) + 150px, 300px);
    --pokemon-card-wrapper-height: clamp(100px, calc((100svw - 400px) * 100 / 1000) + 100px, 200px);

    --pokemon-card-width: calc(0.75 * var(--pokemon-card-wrapper-width));
    --pokemon-card-height: var(--pokemon-card-wrapper-height);
    --pokemon-card-border-radius: clamp(20px, calc((100svw - 400px) * 10 / 1000) + 20px, 30px);
    --pokemon-card-pokemon-size: calc(0.8 * var(--pokemon-card-wrapper-height));
    --pokemon-card-type-size: var(--pokemon-card-pokemon-size);
    --pokemon-card-gap: 20px;
    --pokemon-card-name-size: clamp(16px, calc((100svw - 400px) * 12 / 800) + 16px, 28px);
    --pokemon-card-num-size: clamp(14px, calc((100svw - 400px) * 6 / 800) + 14px, 20px);

    --dialog-border-left: 1px solid black;
    --dialog-color-bg: white;
    --dialog-wrapper-width: min(80svw, 500px);
    --dialog-wrapper-height: min(40svw, 350px);
    --dialog-width: calc(0.75 * var(--dialog-wrapper-width));
    --dialog-height: var(--dialog-wrapper-height);
    --dialog-pokemon-size: calc(1 * var(--dialog-wrapper-height));
    --dialog-pokemon-max-size: calc(0.8 * var(--dialog-wrapper-height));
    --dialog-type-size: calc(0.8 * var(--dialog-pokemon-size));
    --dialog-subtype-size: calc(0.3 * var(--dialog-pokemon-size));
    --dialog-like-size: clamp(24px, calc((100svw - 400px) * 14 / 800) + 24px, 38px);
    --dialog-name-size: clamp(16px, calc((100svw - 400px) * 16 / 800) + 16px, 32px);
    --dialog-num-size: clamp(14px, calc((100svw - 400px) * 10 / 800) + 14px, 24px);
    --dialog-label-size: clamp(16px, calc((100svw - 400px) * 8 / 600) + 16px, 24px);
    --dialog-evolution-height: 100px;

    --number-dialog-tabs: 3;

    --color-type-water: #4d90d6;
    --particle-water-color: #f1f1f180;
    --particle-water-base-size: 75px;

    --color-type-fire: #fe9c55;
    --particle-fire-color: #ffc857;
    --particle-fire-base-size: 10px;

    --color-type-poison: #ab6ac8;
    --particle-poison-color: white;
    --particle-poison-base-size: 20px;

    --color-type-ice: #74cec0;
    --particle-ice-color: rgba(255, 255, 255, 0.2);
    --particle-ice-base-size: 30px;

    --color-type-flying: #8fa8dd;
    --particle-flying-color: white;
    --particle-flying-base-size: 150px;

    --color-type-grass: #63bb5b;
    --particle-grass-color: #00000000;
    --particle-grass-base-size: 50px;

    --color-type-rock: #c7b78b;
    --particle-rock-color: #00000000;
    --particle-rock-base-size: 50px;

    --color-type-bug: #90c12c;
    --particle-bug-color: #00000000;
    --particle-bug-base-size: 50px;

    --color-type-dark: #5a5366;
    --particle-dark-color: white;
    --particle-dark-base-size: 5px;

    --color-type-fairy: #ec8fe6;
    --particle-fairy-color: white;
    --particle-fairy-base-size: 30px;

    --color-type-electric: #f3d23b;
    --particle-electric-color: white;
    --particle-electric-base-size: 5px;

    --color-type-ghost: #5269ac;
    --particle-ghost-color: white;
    --particle-ghost-base-size: 5px;

    --color-type-fighting: #ce4069;
    --particle-fighting-color: white;
    --particle-fighting-base-size: 5px;

    --color-type-psychic: #f97176;
    --particle-psychic-color: #f85ef2;
    --particle-psychic-base-size: 1px;

    --color-type-steel: #5a8ea1;
    --particle-steel-color: #5a8ea1;
    --particle-steel-base-size: clamp(2px, calc((100svw - 400px) * 3 / 800 + 2px), 5px);

    --color-type-dragon: #0a6dc4;
    --particle-dragon-color: #b9b679;
    --particle-dragon-base-size: 0px;

    --color-type-ground: #d97746;
    --particle-ground-color: gray;
    --particle-ground-base-size: 100px;

    --color-type-normal: #9099a1;
    --particle-normal-color: gray;
    --particle-normal-base-size: 10px;
}
